.GetStartedButton {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 544px;
  margin: 0 auto;
  height: 56px;
  border-radius: 8px;

  background-color: #0066FF;
  color: #FFF;

  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  text-decoration: none;

  transition: background-color .25s;

  &:hover {
    background-color: #0044EE;
  }

  &__container {
    position: sticky;
    padding: 0 8px;
    bottom: 0;
    height: 80px;
    background: linear-gradient(180deg, rgba(255, 248, 244, 0) 0%, #FFF8F4 100%);
  }
}
