.content-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 359px;
  // padding: 0 80px;
  // max-width: 640px;
  margin: 0 auto;
}

.card {
  margin: 0 auto;
  padding: 24px 16px 16px;
  max-width: 600px;
  background-color: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 12px;
  text-align: center;
}

// @media screen and (min-width: 400px) {
//   .content-container {
//     padding: 0 80px;
//     max-width: 640px;
//   }
// }
