@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.App {
  background-color: #FFF8F4;
  font-family: 'Inter', sans-serif;
}

.content-container {
  max-width: 359px;
  margin: 0 auto;
}
